*,
*::after,
*::before {
    box-sizing: border-box;
}

img {
    object-fit: cover;
}
h3 {
  font-family: 'Comfortaa';
}

body {
  margin: 0;
}

.container {
    max-width: 1200px;
     padding-top: 10px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    
    /* /* display: flex; */
    justify-content: space-between; 
}

.header {
     
    height: 90vh;
    
}

.cofe_interface_left {
    /* max-width: 400px; */
}

.cofe_interface_left_title {
    text-align: center;
    font-family: 'Comfortaa';
}


.cofe_interface_left_ingrd {
    display: flex;
    justify-content: center;
    gap: 10px;
    
    
}

.cofe_interface_left_ingrd_img {
    width: 120px;
    height: 50px;
}

.cofe_interface_left_progress {
    display: flex;
    justify-content: center;
    gap: 10px;
    
    
}

.cofe_interface_left_progress_item {
    width: 120px;
    height: 50px;
    
}

.cofe_interface_left_btnbox {
    display: flex;
    justify-content: center;
    gap: 10px;
    
}

.cofe_interface_left_btnbox_btn_active {
    width: 120px;
    height: 30px;
    /* background-color: rgb(64, 197, 246); */
    border: none;
    cursor: pointer;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border: 1px solid black; 
}

.cofe_interface_left_btnbox_btn {
    width: 120px;
    height: 30px;
    border: none;
    cursor: pointer;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border: 1px solid black;   
}

.cofe_interface_left_btnbox_btn:hover,
.cofe_interface_left_btnbox_btn_active:hover {
    transition: all 0.25s ease;
    background-color: rgb(64, 197, 246);
    color: #fff;
    border: none; 
}


.cofe_interface_left_choosebtn {
    display: flex;
   justify-content: center;
   margin-top: 10px;
  
   
}
.cofe_interface_left_choosebtn_add_btn:hover {
  transition: all 0.25s ease;
  background-color: rgb(64, 197, 246);
  color: #fff;
  border: none;
}

.cofe_interface_left_choosebtn_add_btn {
    width: 120px;
    height: 30px;
    /* background-color: rgb(64, 197, 246); */
    border: none;
    cursor: pointer;
    font-family:Verdana, Geneva, Tahoma, sans-serif; 
    border: 1px solid black; 
}
.cofe_interface_left_cofe_title {
    display: flex;
    justify-content: center;
    gap: 10px;
    
}

.cofe_interface_left_cofe_type {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.cofe_interface_left_cofe_type_img {
    width: 120px;
    height: 120px;
    margin-bottom: 10px;
}

.cofe_interface_right {
    /* max-width: 600px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.cofe_interface_right_box {
  display: flex;
  justify-content: center;
  gap: 10px;
    padding-top: 30px;
}

.cofe_interface_right_box_preview_img {
    width: 250px;
    height: 250px;
}

:root {
    --color-primary: #ff4b00;
    --color-subtle: #b0b0b0;
    --line-border-fill: rgb(64, 197, 246);
    --line-border-empty: lightgrey;
  }

.cofe_interface_right_box_control {
    /* margin: 24px; */
  }
  
  label {
    display: flex;
    align-items: center;
    border-radius: 8px;
    padding: 8px;
    cursor: pointer;
  }
  label:hover {
    background-color: rgb(64, 197, 246);
  }
  
  input[type=checkbox]   {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    height: 24px;
    width: 24px;
    background: #fff;
    border: 2px solid var(--color-subtle);
    margin: 0 8px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
        outline-offset: 5px;
        outline-color: var(--color-subtle);
  }
  
  input[type=checkbox]:after    {
    content: "";
    display: block;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
  }
  input[type=checkbox]:checked:after   {
    transform: scale(1);
  }
  
  input[type=checkbox] {
    border-radius: 5px;
  }
  input[type=checkbox]:after {
    width: 16px;
    height: 16px;
  }
  input[type=checkbox]:checked {
    border: none;
    background-color: var(--color-primary, #dfdfdf);
  }
  input[type=checkbox]:checked:after {
    content: url("data:image/svg+xml, <svg viewBox='0 0 16 15' xmlns='http://www.w3.org/2000/svg'><path fill='white' d='M15.25.847a1.51 1.51 0 0 1 .405 2.096L8.106 14.11a1.944 1.944 0 0 1-2.94.329L.6 10.156a1.51 1.51 0 1 1 2.067-2.202l3.645 3.42 6.841-10.122a1.51 1.51 0 0 1 2.098-.405Z'/></svg>");
  }

  .cofe_interface_right_box_counter {
    display: flex;
    flex-direction: column;
    /* margin: 24px; */
  }

  span {
    cursor:pointer;
   }
		.cofe_interface_right_box_counter_number{
			/* margin:100px; */
      display: flex;
      padding: 8px;
		}
		.cofe_interface_right_box_counter_number_minus,
    .cofe_interface_right_box_counter_number_plus {
			width:24px;
			height:24px;
			background:#f2f2f2;
			border-radius:4px;
			/* padding:8px 5px 8px 5px; */
			border:1px solid #ddd;
      display: inline-block;
      vertical-align: middle ;
      text-align: center;
		}
		.cofe_interface_right_box_counter_number_inpt_counter {
			height:24px;
      width: 50px;
      text-align: center;
      font-size: 15px;
			border:1px solid #ddd;
			border-radius:4px;
      display: inline-block;
      vertical-align: middle;
    }

    .cofe_interface_right_box_btn {
      display: flex;
      /* margin-top: 85px; */
      justify-content: center;
      
    }

    .cofe_interface_right_box_btn_cofe_btn {
      width: 200px;
      height: 30px;
      border: none;
      cursor: pointer;
      font-family:Verdana, Geneva, Tahoma, sans-serif;
      border: 1px solid black; 
      /* background-color: rgb(64, 197, 246);  */
    }
    .cofe_interface_right_box_btn_cofe_btn:hover {
      transition: all 0.25s ease;
      background-color: rgb(64, 197, 246);
      color: #fff;
      border: none;
    }

    .progress_body {
      
      
      display: flex;
      align-items: center;
      justify-content: center;
      /* overflow: hidden; */
      margin-top: 20px;
      
    }
    
    .progress_body_box {
      text-align: center;
    }
    
    .progress_body_box_progress-container {
      display: flex;
      justify-content: space-between;
      
      position: relative;
      margin-bottom: 30px;
      max-width: 100%;
      width: 350px;
    }
    
    .progress_body_box_progress-container::before {
      content: ''; /*your have to write this to be able to see it*/
      background-color: rgb(64, 197, 246);
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      height: 4px;
      width: 100%; /*it represents the empty line*/
      z-index: -1;
    }
    
    .progress_body_box_progress-container_prgrs {
      background-color: blue;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      height: 4px;
      width: 0%;
      z-index: -1;
      transition: 0.4s ease;
    }
    
    .progress_body_box_progress-container_circles  {
      background-color: white;
      color: #999;
      border-radius: 50%;
      height: 30px;
      width: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 3px solid lightgray;
      transition: 0.4s ease;
    }
    
    .progress_body_box_progress-container_circles.active {
      border-color: blue;
    }